  <!-- SECTION ONE -->
  <div class="section-one" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div" data-ix="transparent-div-start">
        <section class="centering-container section w-container">
          <h1 class="number small-heading">1</h1>
          <h1 class="gray-heading top">About us&nbsp;</h1>
          <p class="section-intro-paragraph">We work with businesses to increase intelligence, efficiency and profit.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </section>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- who are we?</h1>
        <p class="gray-paragraph">A group of accountants &amp; web-developers who change how business use digital software tools for running business. We use technology as a competitive tool, &amp; optimize business using quality technology &amp; quality humans. We work with accountants, business owners &amp; finance directors to increase efficiency, intelligence &amp; profit.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- WHAT CAN WE DO?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4"><img src="images/tool234.png">
            <h1 class="what-can-we-do-heading">Financial accounting</h1>
            <p class="what-can-we-do-paragraph">We can take it off your plate, and deliver convenient business accounting or tax. It is efficient and under control if you use our accountants service.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/transport295.png">
            <h1 class="what-can-we-do-heading">Transform your business</h1>
            <p class="what-can-we-do-paragraph">Propel your business using internal audit (deepScan), cost innovation, web-technology and motherly knowledge sharing (reBoot).</p>
          </div>
          <div class="w-col w-col-4"><img src="images/web2.png">
            <h1 class="what-can-we-do-heading">Code Consultancy</h1>
            <p class="what-can-we-do-paragraph">Business is digital, use software as a competitive weapon. Control costs using an accountant's trust and code craft.</p>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#top"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>

  <div class="section-two" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">2</h1>
          <h1 class="gray-heading top">Deepscan</h1>
          <p class="section-intro-paragraph">Detect cost reductions and access cutting edge web-technology.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Advanced internal audit</h1>
        <p class="gray-paragraph">Detect&nbsp;legacy business technology &amp; costs, using&nbsp;craft accountants&nbsp;&amp;&nbsp;
          <br>web-developer experts</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- WHAT does it DO?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Planning</h1>
            <p class="what-can-we-do-paragraph">Once you make contact, we will arrange a discussion on our audit strategy and timings.</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Fieldwork</h1>
            <p class="what-can-we-do-paragraph">Using accountants and web-developer experts we internal audit the current state of your business</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Report</h1>
            <p class="what-can-we-do-paragraph">We write a simple report containing battle-plans to transform your business margins.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Example DeepScan findings</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Cost Materiality</h1>
            <p class="what-can-we-do-paragraph">IT and software is material to business running costs in today's digital economy.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Margins</h1>
            <p class="what-can-we-do-paragraph">Overhead costs are much greater running legacy IT systems instead of a reBoot.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Windows IT</h1>
            <p class="what-can-we-do-paragraph">Windows IT and software is restrictive to business and increases costs.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Software</h1>
            <p class="what-can-we-do-paragraph">Poor software tools adds to business cost, reduces productivity and demoralizes employees.</p>
          </div>
        </div>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Accounting Software</h1>
            <p class="what-can-we-do-paragraph">98% of accounting software is unfit for purpose and draining business potential.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Finance and Business support</h1>
            <p class="what-can-we-do-paragraph">Accounting and business support staff lack stimulated creativity and are routinely unproductive.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Makers Culture</h1>
            <p class="what-can-we-do-paragraph">Business office environments suppress problem solving creativity and innovation.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business App Development</h1>
            <p class="what-can-we-do-paragraph">Business feel restricted in accessing quality web developers and daunted by technology complexities.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Our internal audit focus</h1>
        <p class="gray-paragraph">Detect cost reductions and access cutting edge web-technology</p>
        <div class="w-row">
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business IT and Software Assets</h1>
            <p class="what-can-we-do-paragraph">Audit your business digital age and surplus IT and software assets.</p>
          </div>
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business Web-Connectivity</h1>
            <p class="what-can-we-do-paragraph">Detect areas your business isn't using cutting edge web-technology.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Bank and Cash Management</h1>
            <p class="what-can-we-do-paragraph">Audit legacy engine room cost wastage, and save time on business essentials.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Revenue and Expenses Management</h1>
            <p class="what-can-we-do-paragraph">Audit invoicing and expenses mgmt, save time and money.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Wages and Payroll</h1>
            <p class="what-can-we-do-paragraph">Audit financial control wastage, for effortless payroll and wages mgmt.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Hire Purchase and Leasing</h1>
            <p class="what-can-we-do-paragraph">Audit business resource wastage to achieve accounting harmony.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Bookkeeping and Reporting</h1>
            <p class="what-can-we-do-paragraph">Audit accounting and software wastage, achieve business reporting perfection.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business Workforce and Learning</h1>
            <p class="what-can-we-do-paragraph">Audit business most powerful asset, for super-charge steps.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Flexible pricing plans</h1>
        <p class="gray-paragraph">That&nbsp;<strong>don't&nbsp;</strong>cost and arm and leg.</p>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">SME Businesses</h1>
            <p class="what-can-we-do-paragraph">We normally deploy 2-4 people ranging from 3-14 days.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Large&nbsp;Businesses</h1>
            <p class="what-can-we-do-paragraph">We normally deploy 2-4 people ranging from 3-14 days into finance.</p>
          </div>
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-3"></div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>