
  <div class="section-five" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container other section w-container">
          <h1 class="number small-heading">5</h1>
          <h1 class="adjust gray-heading top">accountants</h1>
          <p class="section-intro-paragraph">We work with accountants to increase efficiency, intelligence and profit.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Why we are different?</h1>
        <p class="gray-paragraph">We blend internal audit techniques with web-development&nbsp;craft&nbsp;to create industry leading advantage. We can build apps to fundamentally improve your business &amp; accounting, using the same technologies as Google or Paypal. We are committed to reducing your business costs &amp; complexities, &amp; protect you from outdated business practice.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Our awesome Accounting&nbsp;team</h1>
        <p class="gray-paragraph">Hover over to learn more</p>
        <div class="row-margin w-row">
          <div class="team-c1 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">John&nbsp;Doe</h1>
              <h1 class="green-column-position-heading">Accountant</h1>
              <h1 class="green-column-joke-heading">Master&nbsp;of&nbsp;Coin</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
          <div class="team-c2 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">Jane Doe</h1>
              <h1 class="green-column-position-heading">Software&nbsp;developer</h1>
              <h1 class="green-column-joke-heading">Master&nbsp;of&nbsp;Sword</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
          <div class="team-c3 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">Jerry&nbsp;Doe</h1>
              <h1 class="green-column-position-heading">‍Craft&nbsp;Accountant</h1>
              <h1 class="green-column-joke-heading">Business&nbsp;Knight</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7_1.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-six" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">6</h1>
          <h1 class="gray-heading top">software</h1>
          <p class="adjust section-intro-paragraph">We use technology as a competitive
            <br>tool, and optimize business with it.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- The power of technology</h1>
        <p class="gray-paragraph">It’s been said that as human beings, we first shape our tools &amp; then our tools shape us.&nbsp;Financial management software is no exception to this rule. Over time, financial management&nbsp;technology can either help a CFO forge a culture of high performance or, just as easily,&nbsp;undermine it. In the end, the tool itself is only part of the solution.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- what software do we use?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4"><img src="images/google29.png">
            <h1 class="what-can-we-do-heading">Google</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/finance-and-business4.png">
            <h1 class="what-can-we-do-heading">Monea Finance</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/smartphone55.png">
            <h1 class="what-can-we-do-heading">App Integration</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7_1.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>