  <!-- SPLASH LANDING -->
  <div class="hero-section">
    <div class="social-media-div w-clearfix" data-ix="share">
      <h1 class="share-heading">share</h1>
      <a class="social-media-link-1 w-inline-block" data-ix="social-media-link" href="#"><img src="images/facebook55.png" width="16">
      </a>
      <a class="social-media-link-2 w-inline-block" data-ix="social-media-link" href="#"><img src="images/logo95.png" width="16">
      </a>
      <a class="social-media-link-3 w-inline-block" data-ix="social-media-link" href="#"><img src="images/social-network106.png" width="16">
      </a>
      <a class="social-media-link-4 w-inline-block" data-ix="social-media-link" href="#"><img src="images/google116.png" width="16">
      </a>
    </div>
    <div class="made-by-minewire w-clearfix">
      <h1 class="made-by-heading">Made by <a target="_blank" href="http://minewire.webflow.com/" class="minewire-design-link">minewire design</a></h1>
    </div>
    <div class="particle" data-ix="particle-one"></div>
    <div class="particle" data-ix="particle-two"></div>
    <div class="particle" data-ix="particle-three"></div>
    <div class="particle" data-ix="particle-four"></div>
    <div class="particle" data-ix="particle-five"></div>
    <div class="particle" data-ix="particle-six"></div>
    <div class="particle" data-ix="particle-seven"></div>
    <div class="particle" data-ix="particle-eight"></div>
    <div class="particle" data-ix="particle-nine"></div>
    <h1 class="logo-heading">Business Knights</h1>
    <div class="border-parent-div">
      <div class="border-div">
        <div class="line-div" data-ix="line"></div>
      </div>
    </div>
    <div class="hero-div w-container">
      <h1 class="hero-heading">Disruptive&nbsp;By Nature</h1>
      <p class="hero-paragraph">Accountants <span class="line">|</span> Software <span class="line">|</span> Strategy</p>
    </div><a class="hero-button w-inline-block" data-ix="hero-button" href="#"><h1 class="button-heading">explore</h1><div class="button-div"></div></a>
  </div>

  <!-- EXPLORE SPLASH SECTION -->
  <div class="flash-one" data-ix="flash-initial"></div>
  <div class="flash-two" data-ix="flash-initial"></div>
  <div class="flash-three" data-ix="flash-initial"></div>
  <div class="flash-four" data-ix="flash-initial"></div>
  <div class="navigation-actual-div w-clearfix" data-ix="navigation-startup">
    <div class="left-nav-div">
      <div class="nav-border">
        <div class="centering-nav-div">
          <h1 class="hero-heading">Business&nbsp;knights</h1>
          <p class="adjust hero-paragraph">Hover&nbsp;over&nbsp;the&nbsp;panels&nbsp;and&nbsp;click&nbsp;to&nbsp;view</p>
        </div>
      </div><a class="hero-button left section w-inline-block" data-ix="back-to-hero" href="#top"><h1 class="button-heading left section">back</h1><div class="button-div left who-are-we"></div></a>
      <div class="left-button-line"></div>
    </div>
    <div class="right-nav-div"><a class="back-button w-button" data-ix="back-to-hero" href="#">Back</a>
      <div class="nav-1"><a class="nav-link-block w-inline-block" data-ix="nav-1" href="#"><h1 class="nav-heading">About</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-2"><a class="nav-link-block w-inline-block" data-ix="nav-2" href="#"><h1 class="nav-heading">DeepScan</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-3"><a class="nav-link-block w-inline-block" data-ix="nav-3" href="#"><h1 class="nav-heading">Reboot</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-4"><a class="nav-link-block w-inline-block" data-ix="nav-4" href="#"><h1 class="nav-heading">Support</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-5"><a class="nav-link-block w-inline-block" data-ix="nav-5" href="#"><h1 class="nav-heading" data-ix="nav-heading">Accountants</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-6"><a class="nav-link-block w-inline-block" data-ix="nav-6" href="#"><h1 class="nav-heading" data-ix="nav-heading">Software</h1></a>
        <div class="nav-hover-block"></div>
      </div>
    </div>
  </div>
