<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sat Apr 15 2017 11:47:37 GMT+0000 (UTC)  -->
<html data-wf-page="566efb4ec473bf4509bc71b2" data-wf-site="566efb4ec473bf4509bc71ad">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/bizkghtswebsite.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Great Vibes:400","Source Sans Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic","Unica One:regular","Playfair Display:regular,italic,700,700italic,900,900italic"]
      }
    });
  </script>
  <script src="js/modernizr.js" type="text/javascript"></script>
  <link href="images/favicons.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/percentage5-1.png" rel="apple-touch-icon">
  <style>
    body {
      -webkit-font-smoothing: antialiased;
    }
  </style>
</head>
<body>
  <div class="loading-div" data-ix="loading-div">
    <div class="centering-div" data-ix="loading-container">
      <div class="loading-wrapper-div">
        <div class="loading-green-block"></div>
        <div class="loading-percentage" data-ix="loading-square"></div>
      </div>
      <h1 class="loading-logo" data-ix="loading-text">Business knights</h1>
      <p class="loading-green-paragraph" data-ix="loading-text-2">Support <span class="line">|</span> Accountants <span class="line">|</span> Software</p>
    </div>
  </div>
  <div class="hero-section">
    <div class="social-media-div w-clearfix" data-ix="share">
      <h1 class="share-heading">share</h1>
      <a class="social-media-link-1 w-inline-block" data-ix="social-media-link" href="#"><img src="images/facebook55.png" width="16">
      </a>
      <a class="social-media-link-2 w-inline-block" data-ix="social-media-link" href="#"><img src="images/logo95.png" width="16">
      </a>
      <a class="social-media-link-3 w-inline-block" data-ix="social-media-link" href="#"><img src="images/social-network106.png" width="16">
      </a>
      <a class="social-media-link-4 w-inline-block" data-ix="social-media-link" href="#"><img src="images/google116.png" width="16">
      </a>
    </div>
    <div class="made-by-minewire w-clearfix">
      <h1 class="made-by-heading">Made by <a target="_blank" href="http://minewire.webflow.com/" class="minewire-design-link">minewire design</a></h1>
    </div>
    <div class="particle" data-ix="particle-one"></div>
    <div class="particle" data-ix="particle-two"></div>
    <div class="particle" data-ix="particle-three"></div>
    <div class="particle" data-ix="particle-four"></div>
    <div class="particle" data-ix="particle-five"></div>
    <div class="particle" data-ix="particle-six"></div>
    <div class="particle" data-ix="particle-seven"></div>
    <div class="particle" data-ix="particle-eight"></div>
    <div class="particle" data-ix="particle-nine"></div>
    <h1 class="logo-heading">BK</h1>
    <div class="border-parent-div">
      <div class="border-div">
        <div class="line-div" data-ix="line"></div>
      </div>
    </div>
    <div class="hero-div w-container">
      <h1 class="hero-heading">Disruptive&nbsp;By Nature</h1>
      <p class="hero-paragraph">Upgrade, Develop and Grow your Business</p>
    </div><a class="hero-button w-inline-block" data-ix="hero-button" href="#"><h1 class="button-heading">explore</h1><div class="button-div"></div></a>
  </div>
  <div class="flash-one" data-ix="flash-initial"></div>
  <div class="flash-two" data-ix="flash-initial"></div>
  <div class="flash-three" data-ix="flash-initial"></div>
  <div class="flash-four" data-ix="flash-initial"></div>
  <div class="navigation-actual-div w-clearfix" data-ix="navigation-startup">
    <div class="left-nav-div">
      <div class="nav-border">
        <div class="centering-nav-div">
          <h1 class="hero-heading">Business&nbsp;knights</h1>
          <p class="adjust hero-paragraph">Hover&nbsp;over&nbsp;the&nbsp;panels&nbsp;and&nbsp;click&nbsp;to&nbsp;view</p>
        </div>
      </div><a class="hero-button left section w-inline-block" data-ix="back-to-hero" href="#top"><h1 class="button-heading left section">back</h1><div class="button-div left who-are-we"></div></a>
      <div class="left-button-line"></div>
    </div>
    <div class="right-nav-div"><a class="back-button w-button" data-ix="back-to-hero" href="#">Back</a>
      <div class="nav-1"><a class="nav-link-block w-inline-block" data-ix="nav-1" href="#"><h1 class="nav-heading">About</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-2"><a class="nav-link-block w-inline-block" data-ix="nav-2" href="#"><h1 class="nav-heading">DeepScan</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-3"><a class="nav-link-block w-inline-block" data-ix="nav-3" href="#"><h1 class="nav-heading">Reboot</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-4"><a class="nav-link-block w-inline-block" data-ix="nav-4" href="#"><h1 class="nav-heading">Support</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-5"><a class="nav-link-block w-inline-block" data-ix="nav-5" href="#"><h1 class="nav-heading" data-ix="nav-heading">Accountants</h1></a>
        <div class="nav-hover-block"></div>
      </div>
      <div class="nav-6"><a class="nav-link-block w-inline-block" data-ix="nav-6" href="#"><h1 class="nav-heading" data-ix="nav-heading">Software</h1></a>
        <div class="nav-hover-block"></div>
      </div>
    </div>
  </div>
  <div class="section-one" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div" data-ix="transparent-div-start">
        <section class="centering-container section w-container">
          <h1 class="number small-heading">1</h1>
          <h1 class="gray-heading top">About us&nbsp;</h1>
          <p class="section-intro-paragraph">We work with businesses to increase intelligence, efficiency and profit.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </section>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- who are we?</h1>
        <p class="gray-paragraph">A group of accountants &amp; web-developers who change how business use digital software tools for running business. We use technology as a competitive tool, &amp; optimize business using quality technology &amp; quality humans. We work with accountants, business owners &amp; finance directors to increase efficiency, intelligence &amp; profit.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- WHAT CAN WE DO?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4"><img src="images/tool234.png">
            <h1 class="what-can-we-do-heading">Financial accounting</h1>
            <p class="what-can-we-do-paragraph">We can take it off your plate, and deliver convenient business accounting or tax. It is efficient and under control if you use our accountants service.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/transport295.png">
            <h1 class="what-can-we-do-heading">Transform your business</h1>
            <p class="what-can-we-do-paragraph">Propel your business using internal audit (deepScan), cost innovation, web-technology and motherly knowledge sharing (reBoot).</p>
          </div>
          <div class="w-col w-col-4"><img src="images/web2.png">
            <h1 class="what-can-we-do-heading">Code Consultancy</h1>
            <p class="what-can-we-do-paragraph">Business is digital, use software as a competitive weapon. Control costs using an accountant's trust and code craft.</p>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#top"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-two" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">2</h1>
          <h1 class="gray-heading top">Deepscan</h1>
          <p class="section-intro-paragraph">Detect cost reductions and access cutting edge web-technology.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Advanced internal audit</h1>
        <p class="gray-paragraph">Detect&nbsp;legacy business technology &amp; costs, using&nbsp;craft accountants&nbsp;&amp;&nbsp;
          <br>web-developer experts</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- WHAT does it DO?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Planning</h1>
            <p class="what-can-we-do-paragraph">Once you make contact, we will arrange a discussion on our audit strategy and timings.</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Fieldwork</h1>
            <p class="what-can-we-do-paragraph">Using accountants and web-developer experts we internal audit the current state of your business</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Audit Report</h1>
            <p class="what-can-we-do-paragraph">We write a simple report containing battle-plans to transform your business margins.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Example DeepScan findings</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Cost Materiality</h1>
            <p class="what-can-we-do-paragraph">IT and software is material to business running costs in today's digital economy.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Margins</h1>
            <p class="what-can-we-do-paragraph">Overhead costs are much greater running legacy IT systems instead of a reBoot.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Windows IT</h1>
            <p class="what-can-we-do-paragraph">Windows IT and software is restrictive to business and increases costs.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Software</h1>
            <p class="what-can-we-do-paragraph">Poor software tools adds to business cost, reduces productivity and demoralizes employees.</p>
          </div>
        </div>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Accounting Software</h1>
            <p class="what-can-we-do-paragraph">98% of accounting software is unfit for purpose and draining business potential.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Finance and Business support</h1>
            <p class="what-can-we-do-paragraph">Accounting and business support staff lack stimulated creativity and are routinely unproductive.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Makers Culture</h1>
            <p class="what-can-we-do-paragraph">Business office environments suppress problem solving creativity and innovation.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business App Development</h1>
            <p class="what-can-we-do-paragraph">Business feel restricted in accessing quality web developers and daunted by technology complexities.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Our internal audit focus</h1>
        <p class="gray-paragraph">Detect cost reductions and access cutting edge web-technology</p>
        <div class="w-row">
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business IT and Software Assets</h1>
            <p class="what-can-we-do-paragraph">Audit your business digital age and surplus IT and software assets.</p>
          </div>
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business Web-Connectivity</h1>
            <p class="what-can-we-do-paragraph">Detect areas your business isn't using cutting edge web-technology.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Bank and Cash Management</h1>
            <p class="what-can-we-do-paragraph">Audit legacy engine room cost wastage, and save time on business essentials.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Revenue and Expenses Management</h1>
            <p class="what-can-we-do-paragraph">Audit invoicing and expenses mgmt, save time and money.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Wages and Payroll</h1>
            <p class="what-can-we-do-paragraph">Audit financial control wastage, for effortless payroll and wages mgmt.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Hire Purchase and Leasing</h1>
            <p class="what-can-we-do-paragraph">Audit business resource wastage to achieve accounting harmony.</p>
          </div>
        </div>
        <div class="w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Bookkeeping and Reporting</h1>
            <p class="what-can-we-do-paragraph">Audit accounting and software wastage, achieve business reporting perfection.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Business Workforce and Learning</h1>
            <p class="what-can-we-do-paragraph">Audit business most powerful asset, for super-charge steps.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Flexible pricing plans</h1>
        <p class="gray-paragraph">That&nbsp;<strong>don't&nbsp;</strong>cost and arm and leg.</p>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">SME Businesses</h1>
            <p class="what-can-we-do-paragraph">We normally deploy 2-4 people ranging from 3-14 days.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Large&nbsp;Businesses</h1>
            <p class="what-can-we-do-paragraph">We normally deploy 2-4 people ranging from 3-14 days into finance.</p>
          </div>
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-3"></div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-three" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">3</h1>
          <h1 class="gray-heading top">Reboot</h1>
          <p class="section-intro-paragraph">‍Win business by viewing IT and software as a competitive weapon.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Advanced&nbsp;business optimization</h1>
        <p class="gray-paragraph">To win&nbsp;business you must view IT &amp; software as a competitive weapon.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- WHAT does it DO?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Upgrade Technology</h1>
            <p class="what-can-we-do-paragraph">Lower running costs</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Re-Wire Accounting</h1>
            <p class="what-can-we-do-paragraph">Empower intelligence</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="what-can-we-do-heading">Empower People</h1>
            <p class="what-can-we-do-paragraph">Smart Creative strategy</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Example Reboot findings</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Cost materiality</h1>
            <p class="what-can-we-do-paragraph">IT and software is material to business running costs in today's digital economy.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Margins</h1>
            <p class="what-can-we-do-paragraph">Overhead costs are much greater running legacy IT systems instead of a reBoot.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Windows IT</h1>
            <p class="what-can-we-do-paragraph">Windows IT and software is restrictive to business and increases costs.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Software</h1>
            <p class="what-can-we-do-paragraph">Poor software tools adds to business cost, reduces productivity and demoralizes employees.</p>
          </div>
        </div>
        <div class="row-margin w-row">
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Accounting Software</h1>
            <p class="what-can-we-do-paragraph">98% of accounting software is unfit for purpose and draining business potential.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Finance and Business support</h1>
            <p class="what-can-we-do-paragraph">Accounting and business support staff lack stimulated creativity and are routinely unproductive.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business Makers Culture</h1>
            <p class="what-can-we-do-paragraph">Business office environments suppress problem solving creativity and innovation.</p>
          </div>
          <div class="w-col w-col-3">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Business App Development</h1>
            <p class="what-can-we-do-paragraph">Business feel restricted in accessing quality web developers and daunted by technology complexities.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Our internal audit focus</h1>
        <p class="gray-paragraph">Detect cost reductions and access cutting edge web-technology</p>
        <div class="border-row w-row">
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Reduce Business IT and Software Assets</h1>
            <p class="what-can-we-do-paragraph">Upgrade your business IT inline with today's digital benchmarks.</p>
          </div>
          <div class="column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Re-Wire Accounting, Finance and Business Intelligence</h1>
            <p class="what-can-we-do-paragraph">Simple business accounting and remove wastage.</p>
          </div>
        </div>
        <div class="_2 border-row w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Formula One Business and Cost Driver Programming</h1>
            <p class="what-can-we-do-paragraph">Exploit cutting edge to the limit, automate cost.</p>
          </div>
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Code Castles</h1>
            <p class="what-can-we-do-paragraph">Teach your business to code and creative engineering practices</p>
          </div>
        </div>
        <div class="_2 border-row w-row">
          <div class="_2 column-with-border w-col w-col-6">
            <h1 class="adjust green what-can-we-do-heading">Workforce Supercharge</h1>
            <p class="what-can-we-do-paragraph">Creative environments, perpetual learning and practice, practice, practice.</p>
          </div>
          <div class="_2 column-with-border display-none w-col w-col-6">
            <h1 class="adjust what-can-we-do-heading">Hire Purchase and Leasing</h1>
            <p class="what-can-we-do-paragraph">Audit business resource wastage to achieve accounting harmony.</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Flexible pricing plans</h1>
        <p class="gray-paragraph">That&nbsp;<strong>don't&nbsp;</strong>cost and arm and leg.</p>
        <div class="row-margin w-row">
          <div class="w-col w-col-4">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Customization</h1>
            <p class="what-can-we-do-paragraph">Pick and choose programs to fit your taste.</p>
          </div>
          <div class="w-col w-col-4">
            <h1 class="column-number">/</h1>
            <h1 class="what-can-we-do-heading">Designed&nbsp;for&nbsp;You</h1>
            <p class="what-can-we-do-paragraph">Designed with flexibility to fit your business needs.</p>
          </div>
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-1"></div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-four" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">4</h1>
          <h1 class="gray-heading top">Support</h1>
          <p class="section-intro-paragraph">At your service. On your side.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- We provide Global business solutions.</h1>
        <p class="gray-paragraph">We provide Global business solutions. We like to work as business partners &amp; solve problems in an open &amp; fun business environment.</p>
        <div class="form-wrapper w-form">
          <form data-name="Email Form" id="email-form" name="email-form">
            <input class="_1 text-field w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Name" type="text">
            <input class="_1 text-field w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="email address" required="required" type="email">
            <input class="_1 text-field w-input" data-name="Name 3" id="name-3" maxlength="256" name="name-3" placeholder="phone Number" type="text">
            <input class="_1 text-field w-input" data-name="Name 2" id="name-2" maxlength="256" name="name-2" placeholder="post/zip code" type="text">
            <textarea class="large text-field w-input" id="field" maxlength="5000" name="field" placeholder="Your Message"></textarea>
            <input class="submit-button w-button" data-wait="Please wait..." type="submit" value="Submit">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Contact&nbsp;information</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4"><img src="images/phone-call41.png" width="70">
            <h1 class="adjust what-can-we-do-heading">Call&nbsp;Us</h1>
            <p class="what-can-we-do-paragraph">020 3411 5311</p>
          </div>
          <div class="w-col w-col-4"><img src="images/email5.png" width="70">
            <h1 class="adjust what-can-we-do-heading">Say&nbsp;Hello</h1>
            <p class="what-can-we-do-paragraph">info@businessknights.co.uk</p>
          </div>
          <div class="w-col w-col-4"></div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7_1.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-five" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container other section w-container">
          <h1 class="number small-heading">5</h1>
          <h1 class="adjust gray-heading top">accountants</h1>
          <p class="section-intro-paragraph">We work with accountants to increase efficiency, intelligence and profit.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Why we are different?</h1>
        <p class="gray-paragraph">We blend internal audit techniques with web-development&nbsp;craft&nbsp;to create industry leading advantage. We can build apps to fundamentally improve your business &amp; accounting, using the same technologies as Google or Paypal. We are committed to reducing your business costs &amp; complexities, &amp; protect you from outdated business practice.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- Our awesome Accounting&nbsp;team</h1>
        <p class="gray-paragraph">Hover over to learn more</p>
        <div class="row-margin w-row">
          <div class="team-c1 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">John&nbsp;Doe</h1>
              <h1 class="green-column-position-heading">Accountant</h1>
              <h1 class="green-column-joke-heading">Master&nbsp;of&nbsp;Coin</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
          <div class="team-c2 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">Jane Doe</h1>
              <h1 class="green-column-position-heading">Software&nbsp;developer</h1>
              <h1 class="green-column-joke-heading">Master&nbsp;of&nbsp;Sword</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
          <div class="team-c3 w-col w-col-4 w-col-stack" data-ix="team-hover">
            <div class="column-center-div" data-ix="column-center-div">
              <h1 class="green-column-heading">Jerry&nbsp;Doe</h1>
              <h1 class="green-column-position-heading">‍Craft&nbsp;Accountant</h1>
              <h1 class="green-column-joke-heading">Business&nbsp;Knight</h1>
            </div>
            <div class="column-green-1" data-ix="cg-1"></div>
            <div class="column-green-2" data-ix="cg-2"></div>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7_1.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <div class="section-six" data-ix="section-startup">
    <div>
      <div class="transparent-full-height-div">
        <div class="centering-container section w-container">
          <h1 class="number small-heading">6</h1>
          <h1 class="gray-heading top">software</h1>
          <p class="adjust section-intro-paragraph">We use technology as a competitive
            <br>tool, and optimize business with it.</p>
          <h1 class="scroll-down-heading">Scroll Down</h1>
          <div class="scroll-down-line"></div>
        </div>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- The power of technology</h1>
        <p class="gray-paragraph">It’s been said that as human beings, we first shape our tools &amp; then our tools shape us.&nbsp;Financial management software is no exception to this rule. Over time, financial management&nbsp;technology can either help a CFO forge a culture of high performance or, just as easily,&nbsp;undermine it. In the end, the tool itself is only part of the solution.</p>
      </div>
      <div class="section-content-div">
        <h1 class="small-description-heading">- what software do we use?</h1>
        <div class="row-margin w-row">
          <div class="w-col w-col-4"><img src="images/google29.png">
            <h1 class="what-can-we-do-heading">Google</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/finance-and-business4.png">
            <h1 class="what-can-we-do-heading">Monea Finance</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div class="w-col w-col-4"><img src="images/smartphone55.png">
            <h1 class="what-can-we-do-heading">App Integration</h1>
            <p class="what-can-we-do-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
        </div>
      </div><img class="_3 section-particle" data-ix="section-particles" src="images/circle46.png" width="75"><img class="_4 section-particle" data-ix="section-particles" src="images/sign29.png"><img class="_5 adjust section-particle" data-ix="section-particles" src="images/hexagon7.png"><img class="adjust section-particle" data-ix="section-particles" src="images/hexagon7_1.png"><img class="_2 section-particle" data-ix="section-particles" src="images/circle46.png">
      <div class="end scroll-down-line"></div><a class="hero-button section w-inline-block" data-ix="return-button" href="#intro"><h1 class="button-heading section">return</h1><div class="button-div who-are-we"></div></a>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <iframe width="0" height="0" src="https://www.youtube.com/embed/KcU6w1Pr5gc?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
</body>
</html>